body {
    background-color: #edeff2;
}

.btn.btn-info.btn-block.my-4 {
    background-color: #126220;
    border-color: #126220;
    width: 100px;
}

.post-images {width:100%;}
.car-image-block {padding:0px;margin:0px;}
.car-image-block img {min-height: 200px; overflow: hidden;}


.form-control-borderless {
    border: none;
}

.active-cyan-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
    margin-top: 10px;
}