.container{
    padding:5%;
}
.container .img{
    text-align:center;
}
.container .details{
    border-left:3px solid #ded4da;
}
.container .details p{
    font-size:15px;
    font-weight:bold;
}

.row.second{
    margin-top: 15%;
    text-align: center;
}
.nav-signature{
    font-weight: 400;
    font-family: Georgia, cursive;
    font-size: 40px;
}

.btn.btn-primary{
    background-color: #126220;
    width: 400px;
    height: 40px;
    margin-left: 25%;
}